<nav class="navbar">
  <div class="container">
    <ul>
      <li class="brand-name">
        <%= link_to new_game_path, class: 'navbar-brand' do %>
          Gama Game
        <% end %>
      </li>
      <li class="item"><a href="#">Login</a></li>
      <li class="item"><a href="#">Contact</a></li>
      <li class="item"><a href="#">About</a></li>
    </ul>
  </div>
</nav>