<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to new_game_path, class: 'navbar-brand' do %>
      <h2>Gama Game</h2>
    <% end %>
    <ul class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="#">About</span></a>
      <a class="nav-item nav-link" href="#">Contact</a>
      <a class="nav-item nav-link" href="#">Login</a>
    </ul>
  </div>
</nav>