nav.navbar {
  padding-top: 3px;
  padding-bottom: 3px;
  div.container {
    padding: 0 10px;
  }
}

#main-container {
  padding-top: 70px;

  .card-body {
    h2 {
      padding: 10px;
    }

    p {
      font-weight: 300;
      font-size: 20px;
    }

    &.info-card {
      .btn-success {
        width: 180px;
      }
    }

    .question-title {
      font-size: 24px;
      font-weight: 400;
      margin: 10px 0 30px 10px;

      span.badge {
        font-weight: 300;
        font-size: 14px;
      }
    }

    div.form-check {
      background-color: #EEEEEE;
      padding: 15px;
    }

    div.questions-container {
      padding-bottom: 25px;
    }
  }
}